.action-button-card-blue {
  border-left: 8px solid var(--ion-color-primary);
}

.action-button-card-yellow {
  border-left: 8px solid var(--ion-color-warning);
}

.action-button-card-green {
  border-left: 8px solid var(--ion-color-success);
}

.action-button-card-red {
  border-left: 8px solid var(--ion-color-danger);
}

.action-button-card-header {
  font-weight: bold;
}