.dev-button {
    text-align: center;
}

.dev-button-text {
    font-weight: bold;
}

.chess-piece {
    height: 40px;
    width: 40px;
}

.white-square {
    background-color: rgba(235, 236, 208);
}

.blue-square {
    background-color: #42b883;
}